* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact_form .wrapper {
    width: 504px;
    padding: 50px 25px 25px 25px;
    border-radius: 16px;
    border: 1px solid #76B91B;
    background: var(--White, #FFF);
    box-shadow: 0px 27px 65px 0px rgba(65, 62, 62, 0.08);

}

.contact_form .wrapper .heading .logo {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.contact_form .input_ls {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact_form .input_ls:last-child {
    margin-bottom: 0px;
}

.contact_form .input_ls label {
    font-size: 20px;
    font-weight: 500;
    color: #3F444D;
    line-height: 38px;
}

.contact_form .input_ls input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #76B91B;
    border-radius: 8px;

}

.contact_form .input_ls input::placeholder {
    color: #cccc;
}

.contact_form .input_ls textarea {
    outline: none;
    border: none;
    border: 1px solid #76B91B;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    resize: vertical;
}

.contact_form .input_ls textarea::placeholder {
    color: #cccc;
}

.submit {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;

}

.radio-field {
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.radio-field:last-child {
    margin-right: 0px;
}

.check {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.submit .btn {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #76B91B;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    /* text-decoration: underline; */
    cursor: pointer;
    background: var(--Gra-illu, linear-gradient(49deg, rgba(167, 214, 63, 0.9) -34.08%, #39B54A 44.93%, #9FD340 126.52%));
}